services:
  reverse-proxy:
    image: nginx:latest
    container_name: mi_reverse_proxy
    ports:
      - "80:80"   # Puerto est치ndar para HTTP
      - "443:443" # Puerto est치ndar para HTTPS
    volumes:
      # Monta la configuraci칩n de Nginx
      - ./nginx_config:/etc/nginx/conf.d
      # Monta los certificados SSL
      - ./nginx_certs:/etc/nginx/certs
    # 'host.docker.internal' requiere esta configuraci칩n para ser accesible
    # desde el contenedor de Nginx. 'host-gateway' es la IP del host.
    extra_hosts:
      - "host.docker.internal:host-gateway"
