services:
  reverse-proxy:
    image: nginx:1.26-alpine
    container_name: mi_reverse_proxy
    restart: unless-stopped
    ports:
      - "80:80"   # Puerto est치ndar para HTTP
      - "443:443" # Puerto est치ndar para HTTPS
    volumes:
      # Monta la configuraci칩n de Nginx
      - ./nginx_config:/etc/nginx/conf.d:ro
      # Monta los certificados SSL
      - ${CERTS_DIR}:/etc/nginx/certs:ro
    # 'host.docker.internal' requiere esta configuraci칩n para ser accesible
    # desde el contenedor de Nginx. 'host-gateway' es la IP del host.
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - proxy_net
networks:
  proxy_net:
    external: true
